# Opties activeren
RewriteEngine on
RewriteBase /

##################
# URL redirecten
##################

# URL redirect van pedicurenieuwegein.nl naar www.pedicurenieuwegein.nl
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule ^(.*)$ localhost/$1 [R=301,L]

##################
# Content types
##################

AddType application/x-font-woff woff
AddType application/x-font-ttf ttf
AddType application/vnd.ms-fontobject eot
AddType image/svg+xml svg

##################
# URL herschrijven
##################

# Sitemap XML
RewriteRule  ^sitemap.xml$ 											./sitemap.php

# Begin van de site, zonder categorie
RewriteCond %{HTTP:Accept-Language} ^nl [NC]
RewriteRule  ^(?!gemaakt_werk)$ 									./nl/index.html [R=301,L]
RewriteCond %{HTTP:Accept-Language} ^nl [NC]
RewriteRule  ^(?!gemaakt_werk)index\.html$ 							./nl/index.html [R=301,L]

RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule  ^(?!gemaakt_werk)$ 									./en/index.html [R=301,L]
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule  ^(?!gemaakt_werk)index\.html$ 							./en/index.html [R=301,L]


RewriteRule  ^(?!gemaakt_werk)([^/]+)/index\.html$ 					./index.php?lang=$1

# Alleen een keuze in het hoofdmenu
RewriteRule  ^(?!gemaakt_werk)([^/]+)/(?!index)([^/]+)\.html$ 		./index.php?lang=$1&main=$2

# Alleen een keuze in het submenu
RewriteRule  ^(?!gemaakt_werk)([^/]+)/(?!index)([^/]+)/([^/]+)\.html$ 	./index.php?lang=$1&main=$2&sub=$3

# Keuze in sub en paginamenu
RewriteRule  ^(?!gemaakt_werk)([^/]+)/(?!index)([^/]+)/([^/]+)/([^/]+)\.html$ 			./index.php?lang=$1&main=$2&sub=$3&page=$4
RewriteRule  ^(?!gemaakt_werk)([^/]+)/(?!index)([^/]+)/([^/]+)/([^/]+)/([^/]+)\.html$ 	./index.php?lang=$1&main=$2&sub=$3&page=$4&subPage=$5

######################
# Compressie & caching 
######################

RewriteCond %{REQUEST_FILENAME} \.(js|css)$
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ /$1.gz [QSA,L]

# redirects van CSS en JS bestanden
RewriteRule  ^[0-9]+/(.+\.css)$ 		./compress.php?file=$1
RewriteRule  ^[0-9]+/(.+\.js)$ 			./compress.php?file=$1
RewriteRule  ^[0-9]+/(.+\.png)$ 		./compress.php?file=$1

# If-Modified-Since (if php is not installed as cgi then comment lines below)
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]