/*----- Specific Style sheet for ING project -----*/
/*----- 		Made By: Joke van Ede 		 -----*/

/*------ Conversation ------*/
#deselectAll:disabled, #selectAll:disabled, #ok:disabled{
	background-color:#fff;
	color:#ff6200;
	border:1px solid #ff6200;
}
#deselectAll{
	margin-left:0px;
	float:right;
	border-radius:0px 6px 6px 0px;
	border-left:1px solid #000;
}
#selectAll{
	border-radius:6px 0px 0px 6px;
	margin-right:0px;
	float:right;	
}
.con_line{
	clear:right;
	overflow:hidden;
	position:relative;
	width:auto;
	max-width:80%;
}
.con_line label{
	background-color:#fff;
}
.checklabel {
	display:block;
	width:100%;
	border-radius:6px;
	padding: 1px 5px;
	border: 1px solid #f2f2f2;
	text-align:center;
	-webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.15);
	box-shadow: 0 3px 0 0 rgba(0,0,0,.15);	
}
.checkbox {
	position:absolute;
	right:5px;
	top:5px;
	width: 2em;
	height: 2.2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	padding:0;
	border-radius:0;
	vertical-align: middle;
	background-size:cover;
	background-color:transparent;
	background-position:-10em -10em;
	transition:.3s ease;
	outline:0;
}
.hover_checklabel:hover {
	background:#ddd;
}
.checkbox:checked + .checklabel {
	background-color:#ff6200;
	opacity: 0.4;
	color:#FFF;
}
.user{
	float:right;	
}
.user label{
	text-align:right;
}
.system{
	float:left;
	text-align:left;
}
.system label{
	text-align:left;
}
/*------ :focus ------*/
.div_conversation{
	border: 1px solid #000;
	border-radius:6px;
	padding:2px;
	width: auto; 
	height: auto;
	max-height:550px;
	overflow-y: scroll;
	background-color: #f2f2f2;
}
@-webkit-keyframes change-color {
  0%   { background-color: #ff6200; opacity: 0.4;}
  100% { background-color: #f2f2f2; }
}
@-moz-keyframes change-color {
  0%   { background-color: #ff6200; opacity: 0.4;  }
  100% { background-color: #f2f2f2; }
}
@-o-keyframes change-color {
  0%   { background-color: #ff6200; opacity: 0.4;}
  100% { background-color: #f2f2f2; }
}
@keyframes change-color {
  0%   { background-color: #ff6200; opacity: 0.4;}
  100% { background-color: #f2f2f2; }
}
.div_conversation:focus{
	-webkit-animation: change-color 2s ; /* Safari 4+ */
	-moz-animation:    change-color 2s ; /* Fx 5+ */
	-o-animation:      change-color 2s ; /* Opera 12+ */
	animation:         change-color 2s ; /* IE 10+ */
}
/*-----------------------*/

/*------ Questions ------*/
.likert{
	margin-bottom:60px;
}
.likert li {
  float: left;
  padding:5px;
  padding-left:0px;
  list-style-type: none;
}
.statement{
	font-style: italic;
	font-weight: bold;
	text-align:center;
}
.second_question{
	margin-top:60px;
	padding:10px;
	border-top: 1px solid #ff6200;
	margin-left: 10px;
}
#satisfied ul{
	list-style-type: none;
}
#popover-content-popover {
	list-style-type: none;
	padding:5px;
	margin-bottom:0px;
}
/*------ Login ------*/
.div_line{
	clear:right;
}
input[type=text], input[type=password], input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#login_button{
  padding: 14px 20px;
  margin: 8px 0;
  width: 50%;
}
.container {
  padding: 16px;
}

/*------ Normal image ------*/
.img_normal{
	border-radius: 6px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top:15px;
}


























